.user {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: 2rem auto;
}

.user form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 75%;
}

.user form input {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    background-color: rgba(220, 220, 220, 0.726);
    padding: 0.3rem;
}

.user form label {
    margin-bottom: 0.7rem;
    color: chartreuse;
}

.user button {
    font-size: 2rem;
    padding: 0.3rem;
    border-radius: 0.7rem;
    background-color: rgba(44, 58, 187, 0.808);
    color: darkgray;
}