.container {
    height: 98vh;
    display: flex;
    width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 75%;
}

form input {
    margin-bottom: 40px;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: rgba(220, 220, 220, 0.726);
    padding: 5px;
}

form label {
    margin-bottom: 10px;
    color: chartreuse;
}

button {
    font-size: 2rem;
    border-radius: 10px;
    background-color: rgba(44, 58, 187, 0.808);
    color: darkgray;
}