/* General ----------------------------------------*/
* {
  box-sizing: border-box;
}
html {
 height: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  color: #444444;
  background: url('../public/images/bg.png') no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

